.changeBG{
    background-color: yellow;
}
.changeAgain{
    background-color: red;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color:blue;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}